#idMainDiv
{
    margin-top:15px;
    margin-bottom:15px;
}

#idTitle
{
    font-family: Helvetica;
    text-align: center;
    font-weight: 700;
    margin-bottom:60px;
    margin-top:30px;
}

.classLabels
{
    width:145px;
    font-weight: 500;
    font-size: 14px;
    margin-left:30px;
}

#idLabelLastName
{
    width:110px;
    font-weight: 500;
    margin-left:10px;
    font-size: 14px;
}

#idSelectAppelation,#idPIN, #idDateOfBirth
{
    border-top-left-radius: .25rem;
    border-bottom-left-radius: 0.25rem;
}

.classMargins
{
    margin-right:30px;
}

.classFlex
{
    display: flex; 
    flex-direction: row;
}

.classFlex1
{
    display: flex; 
    flex-direction: row;
}

.classFlexColumn
{
    display: flex; 
    flex-direction: column;
    margin-bottom:15px;
}

.classBorderLeft
{
    border-left:5px solid black;
   
}

.classBorderLeft1
{
    border-left:5px solid red;
}

.classFullMargins
{
    margin-left:30px;
    margin-right:30px;
}

#idDivRadios
{
    width:20%; 
    justify-content: space-between;
}

#idDivChecks
{
    width:40%; 
    justify-content: space-between;
}

.classColorRadios
{
    background-color: black;
    border:1px solid black;
}

.classColorCkeck
{
    background-color: black;
    border:1px solid black;
}

.classWidthButtons
{
    width:140px;
    font-size: 13.5px;
}

#idSelectAppelation
{
    margin-right: 50%;
}

#idDivButtons
{
    justify-content: space-between;
    margin-bottom:20px;
}

#idDivSelect
{
    width:200px;
}

.classSpanInterpolation
{
    color:red; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    font-size: 12px; 
    font-family: 'Trebuchet MS'; 
    padding-left:5px;
}

.classFlexAuto
{
    flex:auto;
    width:5%;
}

#idSpanInterpolationConfirm
{
    width:420px;
}

.classFlex2
{
    display: flex; 
    flex-direction: row;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content1 {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 15px;
    border: 1px solid #888;
    width: 55%;
    text-align: center;
    overflow: auto;
  }

  #idSpanMessage
  {
      font-variant:small-caps;
      font-size: 1.2rem;
  }

  #idDivButtonBack
  {
      margin-top:1rem;
  }

@media screen and (max-width: 767px)
{   
    #idMainDiv
    {
        width:90%;
    }
    
    .classLabels
    {
        width:100%;
        margin-left:0px;
    }

    .classMargins
    {
        margin-left:30px;
    }

    .classSpanInterpolation1
    {
        margin-left:0px;
    }

    .classFlex
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .classFlex1
    {
        flex-direction: column;
    }

    #idSelectAppelation
    {
        margin-left:30px;
        margin-right:30px;
    }

    #idLabelLastName
    {
        margin-left:0px;
    }

    #idLastName
    {
        margin-right:60px;
    }

    .classMarginsLeft30px
    {
        margin-left:30px;
    }

    .classWidthButtons
    {
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
    }

    #idDivButtons
    {
        margin-top:10px;
    }
    
    #idDivSelect
    {
        width:100%;
    }

    #idDivRadios
    {
        width:35%; 
        justify-content: space-between;
        margin-left: 40px;
    }

    #idDivChecks
    {
        width:65%; 
        justify-content: space-between;
        margin-left: 40px;
    }

    .classFlexAuto
    {
       flex:none;
       margin-right:45px;
       width:100%;
    }
}

@media screen and (min-width:768px) 
{
    #idMainDiv
    {
        width:70%;
    }
    
    .classLabels
    {
        width:150px;
        margin-left:30px;
    }

    #idLabelLastName
    {
        margin-left:5px;
        margin-right:-20px;
    }

    .classFlex
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #idSelectAppelation
    {
        margin-right: 50%;
    }

    .classMarginsLeft30px
    {
        margin-left:30px;
    }

    .classWidthButtons
    {
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;
    }
    
    #idDivSelect
    {
        width:400px;
    }

    #idDivRadios
    {
        width:40%; 
        margin-left:180px;
        justify-content: space-between;
    }

    #idDivChecks
    {
        width:60%; 
        margin-left:180px;
        justify-content: space-between;
    }
}

@media screen and (min-width:992px)
{
    #idMainDiv
    {
        width:55%;
    }

    .classWidthButtons
    {
        margin-left:auto;
        margin-right:auto;
        margin-top:15px;
    }

    .classFlex
    {
        flex-direction: row;
    }
    
    #idDivSelect
    {
        width:400px;
    }

    #idDivRadios
    {
        width:30%; 
    }

    #idDivChecks
    {
        width:60%; 
    }

    #idSelectAppelation
    {
        margin-right: 50%;
    }
}

@media screen and (min-width:1200px) 
{
    #idMainDiv
    {
        width:50%;
    }
    
    .classLabels
    {
        width: 140px;
        margin-left:30px;
    }

    .classFlex
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #idFirstName
    {
        margin-right:-20px;
    }

    #idLastName
    {
        margin-right:0px;
    }

    .classWidthButtons
    {
        width:130px;
        margin-left:auto;
        margin-right:auto;
        margin-top:20px; 
    }

    #idSelectAppelation
    {
        margin-right: 55%;
    }
    
    #idDivSelect
    {
        width:100%;
    }

    #idDivRadios
    {
        width:30%; 
        margin-left:0px;
    }

    #idDivChecks
    {
        width:60%; 
        margin-left:0px;
    }

    #idLabelLastName
    {
        margin-right: -25px;
    }
}