<div id="idDivFull">
    <div class="class60Percent">
        <h2 id="idTitle">PRIORITY FORM</h2>
        <div class="class60Percent">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><span id="idSpanArrow" class="fa fa-level-up"
                        aria-hidden="true" [ngClass]="classIcon"></span></span>
                <input id="idInputPriority" type="text" class="form-control" placeholder="Add your priority"
                    [(ngModel)]="valInputPriority" (input)="fnInputPriority()" (blur)="fnBlurInputPriority()"
                    (focus)="fnFocusInputPriority()">
            </div>
            <div [ngClass]="classDivInterpolation">
                <span><b>{{spanInterpolation}}</b></span>
            </div>
        </div>
        <div class="class60Percent">
            <div class="input-group mt-3">
                <select id="idSelectPriority" class="form-select" aria-label="Default select example"
                    [(ngModel)]="valSelectChoose" (blur)="fnBlurSelectPriority()" (change)="fnChangeSelectPriority()">
                    <option selected hidden disabled value="">Choose importance</option>
                    <option *ngFor="let i of arrayPriorities;" value={{i.id}}>{{i.priority}}</option>
                </select>
                <div [ngClass]="classDivInterpolationSelect">
                    <span><b>{{spanInterpolationSelect}}</b></span>
                </div>
            </div>
        </div>
        <div fxLayout="row">
            <div class="mt-4 classDivButtons">
                <button type="button" class="btn btn-dark ClassWidthButtons" (click)="fnAddPriority()">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i> Add your priority</button>
            </div>
            <div class="mt-4 classDivButtons">
                <button type="button" class="btn btn-dark ClassWidthButtons" (click)="fnClearLists()">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Clear all lists</button>
            </div>
        </div>
        <div class="mt-4 classDivButtons">
            <button type="button" class="btn btn-dark ClassWidthButtons" routerLink="/mainComponent">
                <i class="fa fa-hand-o-left" aria-hidden="true"></i> Back</button>
        </div>
        <div id="idDivPriorities">
            <div class="classSmallDivsPriorities">
                <div class="classButtonsClear">
                    <i class="fa fa-trash classCursor" aria-hidden="true" title="Clear list"
                        (click)="fnClearListVI()"></i>
                </div>
                <p id="idP1" class="classPNamePriorities">VERY IMPORTANT</p>
                <ul *ngFor="let i of arrayVeryImportant; let k = index" class="classUlPriorities">
                    <li class="classLiPriorities">
                        <div class="classFlexSimple">
                            <div class="classWidth80">
                                <span class="classSpanPriority"><b>{{fnMetUpperCaseLetters(i)}}</b></span>
                            </div>
                            <div class="classWidth20">
                                <i class="fa fa-eraser" (click)="fnDeleteIP(k)" aria-hidden="true"
                                    title="delete priority"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="classSmallDivsPriorities">
                <div class="classButtonsClear">
                    <i class="fa fa-trash classCursor" aria-hidden="true" title="Clear list"
                        (click)="fnClearListI()"></i>
                </div>
                <p id="idP2" class="classPNamePriorities">IMPORTANT</p>
                <ul *ngFor="let i of arrayImportant; let k = index;" class="classUlPriorities">
                    <li class="classLiPriorities">
                        <div class="classFlexSimple">
                            <div class="classWidth80">
                                <span class="classSpanPriority"><b>{{fnMetUpperCaseLetters(i)}}</b></span>
                            </div>
                            <div class="classWidth20">
                                <i class="fa fa-eraser" title="delete priority" (click)="fnDeleteI(k)"
                                    aria-hidden="true"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="classSmallDivsPriorities">
                <div class="classButtonsClear">
                    <i class="fa fa-trash classCursor" aria-hidden="true" title="Clear list"
                        (click)="fnClearListLI()"></i>
                </div>
                <p id="idP3" class="classPNamePriorities">LESS IMPORTANT</p>
                <ul *ngFor="let i of arrayLessImportant; let k = index" class="classUlPriorities">
                    <li class="classLiPriorities">
                        <div class="classFlexSimple">
                            <div class="classWidth80">
                                <span class="classSpanPriority"><b>{{fnMetUpperCaseLetters(i)}}</b></span>
                            </div>
                            <div class="classWidth20">
                                <i class="fa fa-eraser" title="delete priority" (click)="fnDeleteLI(k)"
                                    aria-hidden="true"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>