

.classButtons
{
    background-color: white;
}

.classButtons:hover
{
    background-color: rgb(167, 205, 231);
    color:white;
}

#idMainDiv
{
    width:100%; 
    height: 120%; 
    background-color: rgb(197, 191, 191); 
}

#idDivPuzzle
{
    border:1px solid white; 
    height:7rem; 
    opacity: 0.6;
    background-image:url(../../assets/background-border-top-main-page.jpg);
}

#idPWelcome
{
    color: black; 
    text-align: center; 
    font-weight: 900; 
    margin-top:30px;
    font-family: verdana; 
    position:absolute; 
    top:0; 
    width:100%; 
    font-size:35px;
}

#idDivDate
{
    width:100%; 
    height:auto; 
    background-image: -webkit-radial-gradient(circle, white, rgb(197, 191, 191));
    border:1px solid white;
}

#idDivAllDivs
{
    width:80%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top:40px;
    margin-bottom:40px;
}

#idFlex
{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.classDivNgFor
{
    width:24%; 
    border:1px solid black; 
    padding:10px;
    border-radius: 2rem;
}

.classDivNgFor:hover
{
    transform: translateY(5px);
}

#idFlexDivDate
{ 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
}

#idPDate
{
    margin:0; 
    text-align: right; 
    font-size: 1.2rem;
}

#idHref
{
    width:40px; 
    text-align: center; 
    padding-top:3px;
}

#idDivFooter
{
    width:100%;
    height:auto; 
    background-image:url(../../assets/background-border-top-main-page.jpg);
    position:fixed;
    bottom:0;
}

#idMessageFooter
{
    text-align: center;
    background-color: white; 
    padding:10px; 
    margin:0;
}

#idDivFooter1
{
    width:60%; 
    margin-left:auto; 
    margin-right: auto;
}

.colorBlack
{
    color:black; 
}

@media screen and (max-width:767px)
{
    #idFlex
    {
        display: flex; 
        flex-direction: column; 
    }

    .classDivNgFor
    {
        width:90%;
        margin-left: auto;
        margin-right:auto; 
        margin-bottom:20px;
    }

    #idDivAllDivs
    {
        width:90%; 
    }

    #idPWelcome
    {
        font-size:28px;
    }
}

@media screen and (min-width:768px)
{
    #idFlex
    {
        flex-direction: column;
        display: flex;
    }

    .classDivNgFor
    {
        width:80%;
        margin-left: auto;
        margin-right:auto; 
        margin-bottom:20px;
    }

    #idDivAllDivs
    {
        width:85%; 
    }
}

@media screen and (min-width:992px)
{
    #idFlex
    {
        flex-direction: row;
        display: flex;
    }

    .classDivNgFor
    {
        width: 30%;
        margin-left: auto;
        margin-right:auto; 
        margin-bottom:20px;
    }

    #idDivAllDivs
    {
        width:95%; 
    }
}

@media screen and (min-width:1200px)
{
    #idFlex
    {
        flex-direction: row;
    }

    .classDivNgFor
    {
        width:24%;
    }

    #idDivAllDivs
    {
        width:95%; 
    }
}