#idMainDiv
{
    width:40%; 
    margin-top:40px;
}

#idTitle
{
    font-family: Helvetica;
    text-align: center;
    font-weight: 700;
    margin-bottom:60px;
    margin-top:30px;
}

.classWidthInputuri
{
    width:85%; 
    margin-left:auto; 
    margin-right: auto;
    margin-top:20px;
}

.classWidthI
{
    width:15px;
}

#idDivButton
{
    width:60%; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:40px;
}

#idButton
{
    display: block; 
    width: 8rem;
}

#idNotaMember
{
    text-align: center;
    margin-top:40px;
}

#idSignUp
{
    color:black;
    font-style: italic;
}

.classInterpolation
{
    font-size: 12px; 
    font-family: 'Trebuchet MS'; 
    color:red
}

.classColorRed
{
    color:red;
}

.classColorBlack
{
    color:black;
}

.classFlex
{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content1 {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 15px;
    border: 1px solid #888;
    width: 55%;
    text-align: center;
    overflow: auto;
  }

  #idSpanMessage
  {
      font-variant:small-caps;
      font-size: 1.2rem;
  }

  #idDivButtonGoRegister
  {
      margin-top:1rem;
  }

@media screen and (max-width:767px)
{
    #idMainDiv
    {
        width:90%; 
    }

    #idDivButton
    {
        width:90%; 
    }
}

@media screen and (min-width:768px)
{
    #idMainDiv
    {
        width:60%; 
    }
}

@media screen and (min-width:992px)
{
    #idMainDiv
    {
        width:50%; 
    }
}

@media screen and (min-width:1200px)
{
    #idMainDiv
    {
        width:40%; 
    }
}