<div id="idMainDiv" (mousemove)="fnMainDivMouseMove()">
    <div id="idDivInterpolationMessage">
        <span id="idSpanMessage">{{messageUpdateandDelete}}</span>
    </div>
    <div id="idDivTable">
        <table class="table table-bordered border-dark classTable1">
            <thead>
                <tr id="idHeadTable">
                    <th scope="col">Nr.</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">PIN</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Studies</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of arrayDatesFromTable; let k = index;" class="classTable">
                    <td>{{k+1}}</td>
                    <td><input id="idFirstName_{{k}}" type="text" value="{{i.firstName}}" readonly
                            (dblclick)="fnDblClickInputFirstName(k)" (mouseleave)="fnMouseLeaveFirstName(k)"></td>
                    <td><input id="idLastName_{{k}}" type="text" value="{{i.lastName}}" readonly
                            (dblclick)="fnDblClickInputLastName(k)" (mouseleave)="fnMouseLeaveLastName(k)"></td>
                    <td><input id="idPin_{{k}}" type="text" value="{{i.PIN}}" readonly
                            (dblclick)="fnDblClickInputPIN(k)" (mouseleave)="fnMouseLeavePIN(k)"></td>
                    <td><input id="idDateOfBirth_{{k}}" type="date" value="{{i.dateOfBirth}}" readonly
                            (dblclick)="fnDblClickInputDateOfBirth(k)" (mouseleave)="fnMouseLeaveDateOfBirth(k)"></td>
                    <td><span id="idSex_{{k}}">
                            <button type="button" class="btn btn-dark classMargins classHeightButtons" 
                            (click)="fnSexTable(k)">...</button>
                        </span></td>
                    <td><span id="idStudies_{{k}}">
                            <button type="button" class="btn btn-dark classMargins classHeightButtons" 
                            (click)="fnStudiesTable(k)">...</button>
                        </span></td>
                    <td><input id="idEmail_{{k}}" type="text" value="{{i.email}}" readonly
                            (dblclick)="fnDblClickInputEmail(k)" (mouseleave)="fnMouseLeaveEmail(k)"></td>
                    <td><input id="idUsername_{{k}}" type="text" value="{{i.username}}" readonly
                            (dblclick)="fnDblClickInputUsername(k)" (mouseleave)="fnMouseLeaveUsername(k)"></td>
                    <td><input id="idPassword_{{k}}" type="password" value="{{i.password}}" readonly
                            (dblclick)="fnDblClickInputPassword(k)" (mouseleave)="fnMouseLeavePassword(k)"></td>
                    <td>
                        <div id="idDivButtons">
                            <button type="button" style="margin-right:5px;" class="btn btn-success classMargins"
                                (click)="fnUpdateTable(k)"><i class="fa fa-wrench" aria-hidden="true"></i>
                                Update</button>
                            <button type="button" class="btn btn-danger classMargins"
                                (click)="fnDeleteRow(k)">
                                <i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="idDivButtonsBottom">
        <button type="button" class="btn btn-dark classWidthButtons" (click)="fnButtonBack()">Back</button>
        <button type="button" class="btn btn-dark classWidthButtons" (click)="fnButtonLogOut()">Log Out</button>
    </div>

    <div id="myModalSex" class="modal">
        <div class="modal-content">
            <p style="text-align: right; margin:0;"><i class="fa fa-times" aria-hidden="true"
                (click)="fnCloseSexModal()"></i></p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sex" id="idMale">
                <label class="form-check-label" for="idMale">Male</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sex" id="idFemale">
                <label class="form-check-label" for="idFemale">Female</label>
            </div>
            <div class="classButtonsUpdateModal">
                <button type="button" class="btn btn-success classWidthButtons" (click)="fnUpdateModalSex()">Update</button>
            </div>
        </div>
    </div>

    <div id="myModalStudies" class="modal">
        <div class="modal-content">
            <p style="text-align: right; margin:0;"><i class="fa fa-times" aria-hidden="true"
                (click)="fnCloseModalStudies()"></i></p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="idHighSchool">
                <label class="form-check-label" for="idHighSchool">High School</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="idCollege" (click)="fnClickCollege()">
                <label class="form-check-label" for="idCollege">College</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="idMaster" (click)="fnClickMaster()">
                <label class="form-check-label" for="idMaster">Master</label>
              </div>
              <div class="classButtonsUpdateModal">
                <button type="button" class="btn btn-success classWidthButtons" (click)="fnUpdateModalStudies()">Update</button>
            </div>
        </div>
    </div>
</div>