.classColorBackground
{
    background-color: rgb(216, 207, 207);
    margin-left:auto;
    margin-right:auto;
    height:auto;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}



