<div id="idMainDiv">
    <div id="idDivButtonBack">
        <button id="idButtonBack" type="button" class="btn btn-dark" routerLink="/mainComponent">
            <i class="fa fa-hand-o-left" aria-hidden="true"></i> Back</button>
    </div>
    <hr>
    <div id="idDivGames">
        <div id="idDivFlex">
            <button type="button" id="idButton1" class="btn btn-dark classButtons" 
            routerLink="/game1Component"></button>
            <button type="button" id="idButton2" class="btn btn-dark classButtons" 
            routerLink="/game2Component"></button>
        </div>
    </div>
</div>