#idMainDiv
{
    width:50%;
    margin-top:20px;
    overflow: auto;
    height:510px;
    margin-bottom:20px;
    border-left:10px dashed black;
    background: linear-gradient(to right, rgb(107, 103, 103), white);
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

#idTitle
{
    font-family: Helvetica;
    text-align: center;
    font-weight: 700;
    margin-bottom:30px;
    margin-top:30px;
}

#idDivInputTask
{
    width: 70%;
    margin-left:auto;
    margin-right: auto;
}

.classWidthButtons
{
    width:150px;
}

.classButtons:hover
{
    font-weight: 900;
}

#idDivSpanInterpolation
{
    font-size: 12px; 
    font-family: 'Trebuchet MS'; 
    color:white;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left:10px;
    text-align: center;
}

.classBackgroundList:hover
{
    background-color: white;
}

#idDivInterpolationMessage
{
    width:70%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left:10px;
}

#idSpanInterpolationMessage
{
    text-align: center;
    color:white;
    font-size: 12px; 
    font-family: 'Trebuchet MS';
}

.classFlexButtons
{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    margin-top:25px;
    margin-bottom:25px;
}

#idDivLi
{
    width:70%; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:20px;
}

#idLiNgFor
{
    border:1px solid black; 
    border-radius: 10px;
    list-style-type: none; 
    margin-bottom:10px;
}

#idDivFlexLi
{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
}

.classButtonsLi
{
    height:40px; 
    margin-top:20px;
    margin-bottom:20px;
}

#idUl
{
    padding:0;
}

#idSpanLi
{
    padding-left:15px;
    width:60%; 
    word-wrap: break-word; 
    margin-top:20px;
    margin-bottom:20px;
}

#idButtonBack
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.classIcons
{
    margin-right: 1rem;
}

@media screen and (max-width:767px)
{
    #idMainDiv
    {
        width:90%;
    }
}

@media screen and (min-width:768px)
{
    #idMainDiv
    {
        width:70%;
    }
}

@media screen and (min-width:992px)
{
    #idMainDiv
    {
        width:60%;
    }
}

@media screen and (min-width:1200px)
{
    #idMainDiv
    {
        width:50%;
    }
}

