<div fxLayout="row" fxLayoutAlign="space-between none" id="idDivHeader">
    <button id="idButtonBack" type="button" class="btn btn-dark" routerLink="/mainComponent" 
    fxFlex.xs="25"
        fxFlex.sm="25" fxFlex.md="15">
        <i class="fa fa-hand-o-left" aria-hidden="true"></i> Back</button>
    <button id="idButtopShop" type="button" class="btn btn-dark"
     fxFlex.xs="60" fxFlex.sm="38" fxFlex.md="25"
        (click)="fnShowProducts()">
        <i class="fa fa-shopping-cart" aria-hidden="true"> Your shopping cart </i>
        <span id="idSpanCart" class="badge bg-warning">
        </span>
    </button>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" id="idDivAllProducts">
    <div *ngFor="let i of arrayProducts; let k = index;" id="idDivProducts" fxFlex="25" fxFlex.xs="80" fxFlex.sm="40"
        fxFlex.md="25" (mouseleave)="fnLeaveProduct(k,i.product_discount)">
        <div id="idDivDiscount_{{k}}" [ngStyle]="{'visibility':fnHideDivDiscount(i.product_discount)}"
            class="classMarginTop">
            <span id="idProductDiscount_{{k}}" class="start badge rounded-pill bg-success classDiscont">
                Discount: {{fnDiscount(i.product_discount)}} extra
            </span>
        </div>
        <p id="idProductName_{{k}}" class="classProduct" (click)="fnShowDetails(k)">{{i.product_name}}</p>
        <div id="idDivImage">
            <img id="idImage_{{k}}" src="{{i.product_image}}" fxFlex="100">
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" id="idDivPopularity">
            <span class="badge bg-danger classBagdePopularity"
                [ngStyle]="{'visibility':(i.popularity == true)? 'visible':'hidden'}">
                {{fnShowPlopularity(i.popularity)}}</span>
            <p id="idProductPrice_{{k}}" class="classPrice">
                <b>{{i.product_price}} lei</b>
            </p>
        </div>
        <div id="idDivAmount" fxLayout="row" fxLayoutAlign="space-around">
            <span (click)="fnRemoveAmount(k)" class="classCursor"><b>-</b></span>
            <label id="idLabelAmount_{{k}}"><b>0</b></label>
            <span (click)="fnAddAmount(k)" class="classCursor"><b>+</b></span>
        </div>
        <div id="idDivButtonAddProdct">
            <button type="button" class="btn btn-dark" title="Choose the amount" id="idButtonAddProduct"
                (click)="fnAddInCart(k)"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Add product</button>
        </div>
        <div id="myModal_{{k}}" class="modal1">
            <div class="modal-content">
                <p class="cssViewClose" style="margin:0; text-align: right;"
                (click)="fnCloseDescriptionProduct(k,i.product_discount)"><i class="fa fa-times" aria-hidden="true"></i></p>
                <p><i>{{i.product_description}}</i></p>
            </div>
        </div>
    </div>
</div>
<div id="modalProducts" class="modal">
    <div class="modal-content1">
        <p (click)="fnCloseProductModal()" class="classAlignRight classCursor">
            <i class="fa fa-window-close" aria-hidden="true"></i>
        </p>
        <h6 class="classAlignLeft">Your shopping cart</h6>
        <div>
            <p id="idMessageShoppingCart">{{messageEmptyShoppingCart}}</p>
            <img id="idImgShoppingCart" class="classDisplayBlock" src="../../assets/Images/empty_basket.gif">
        </div>
        <p fxLayoutAlign="space-between center">
            <button id="idButtonEmptyBasket" type="button" class="btn btn-dark" (click)="fnEmptyBasket()">Empty the
                basket</button>
            <button id="idButtonNextStep" type="button" class="btn btn-dark" (click)="fnNextStep()">Next step</button>
        </p>
        <div *ngFor="let j of arrayStoreProducts; let k = index;" id="idStoredProducts">
            <p id="idPDeteleProduct" class="classAlignRight"><i class="fa fa-trash-o" aria-hidden="true"
                    (click)="fnDeleteProduct(k)"></i></p>
            <div fxLayout="row">
                <div fxFlex="30">
                    <img id="idProduct" src={{j.product_image}}>
                </div>
                <div fxFlex>
                    <p class="classAlignCenter"><b>{{j.product_name}}</b></p>
                    <p><button type="button" class="btn btn-dark" (click)="fnRemoveLeft(k, j.product_price)">
                            <i class="fa fa-angle-left"></i></button>
                        <span class="classSpanAmount" id="idSpanAmount_{{k}}">{{j.product_amount}}</span>
                        <button type="button" class="btn btn-dark" (click)="fnAddRight(k, j.product_price)"><i
                                class="fa fa-angle-right"></i></button>
                    </p>
                    <p id="idPriceProduct_{{k}}" class="classAlignRight classPProductPrice">{{j.product_price}}</p>
                    <p id="idPDiscount" class="classAlignRight">{{j.product_discount}}</p>
                    <p id="idPTotalPrice" class="classAlignRight">
                        <span><b>Total Price: </b></span>
                        <span id="idTotalPrice_{{k}}">{{fnMetodaPret(j.product_price,j.product_amount)}}</span>
                    </p>
                    <p class="classAlignRight" id="idPriceDiscount">
                        <span><b>{{priceWithDiscount | pipeProductsComponent: j.product_discount}} </b></span>
                        <span id="idPriceWithiscont_{{k}}">
                            {{fnFinalPriceWithDiscount(fnMetodaPret(j.product_price,j.product_amount),
                            fnPriceWithDiscount(fnMetodaPret(j.product_price,j.product_amount),
                            fnDiscountExtra(j.product_discount))) }}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="finalOrder" class="modal">
    <div class="modal-content2">
        <p (click)="fnCloseFinalOrder()" id="idPCloseOrder" class="classAlignRight classCursor">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </p>
        <div id="idDivDeliveryOptions">
            <div class="classHeader">
                <i class="{{classDeliveryOptions}}" aria-hidden="true"></i>&nbsp;
                <span class="classSizeFont"><b>{{deliveryOptions}}</b></span>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="40">
                    <div *ngFor="let i of arrayDeliveryOptions; let k = index;" class="classPadding">
                        <div class="form-check">
                            <input class="form-check-input classMarginRight" type="radio" value={{k}}
                                (click)="fnClickOptionDelivery(k)" name="deliveryOptions" id="idOptionsDelivery_{{k}}"
                                [checked]="i.status" (change)="fnClick()">
                            <span fxFlex="10" style="text-align: center;"><i class="{{i.class}}" aria-hidden="true"></i></span>
                            <label fxFlex="45" class="form-check-label" for="idOptionsDelivery_{{k}}">
                                &nbsp;{{i.deliveryOption}}</label>
                            <span fxFlex="40" class="classTextAlign">{{i.price}}</span>
                        </div>
                    </div>
                </div>
                <div id="idDivAddress" fxFlex="60" class="classBorderLeft classDisplayBlock">
                    <p id="idPDeliveryAddress"><b>DELIVERY ADDRESS</b></p>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div class="form-floating mb-3" fxFlex="45">
                            <input type="text" class="form-control" id="idFirstName" placeholder="first name"
                                [(ngModel)]="valFirstName" [ngStyle]="{'border':borderFirstName}"
                                (input)="fnInputFirstName()" (blur)="fnBlurFirstName()">
                            <label for="idFirstName">First Name</label>
                        </div>
                        <div class="form-floating mb-3" fxFlex="45">
                            <input type="text" class="form-control" id="idLastName" placeholder="last name"
                                [(ngModel)]="valLastName" [ngStyle]="{'border':borderLastName}"
                                (input)="fnInputLastName()" (blur)="fnBlurLastName()">
                            <label for="idLastName">Last Name</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="idEmail" placeholder="email"
                            style="width:95%; margin-right: auto; margin-left: auto;" [(ngModel)]="valEmail"
                            [ngStyle]="{'border':borderEmail}" (input)="fnInputEmail()" (blur)="fnBlurEmail()">
                        <label id="idLabelEmail" class="classMarginLeft" for="idEmail">Email</label>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div class="form-floating mb-3" fxFlex="45">
                            <input type="text" class="form-control" id="idPhone" placeholder="phone"
                                [(ngModel)]="valPhone" [ngStyle]="{'border':borderPhone}" (input)="fnInputPhone()"
                                (blur)="fnBlurPhone()">
                            <label for="idPhone">Phone</label>
                        </div>
                        <div class="form-floating mb-3" fxFlex="45">
                            <input type="text" class="form-control" id="idCity" placeholder="city" [(ngModel)]="valCity"
                                [ngStyle]="{'border':borderCity}" (input)="fnInputCity()" (blur)="fnBlurCity()">
                            <label for="idCity">City</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3" id="idDivAddressTextarea">
                        <textarea type="text" class="form-control" id="idAddress" placeholder="email"
                            [(ngModel)]="valAddress" [ngStyle]="{'border':borderAddress}" (input)="fnInputAddress()"
                            (blur)="fnBlurAddress()"></textarea>
                        <label for="idAddress">Address</label>
                    </div>
                </div>
                <div id="idDivAddress1" fxFlex="60" class="classBorderLeft classDisplayNone">
                    <p id="idPContactDetails"><b>CONTACT DETAILS</b></p>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div class="form-floating mb-3" fxFlex="45">
                            <input type="text" class="form-control" id="idFirstName1" placeholder="first name"
                                [(ngModel)]="valFirstName1" [ngStyle]="{'border':borderFirstName1}"
                                (input)="fnInputFirstName1()" (blur)="fnBlurFirstName1()">
                            <label for="idFirstName1">First Name</label>
                        </div>
                        <div class="form-floating mb-3" fxFlex="45">
                            <input type="text" class="form-control" id="idLastName1" placeholder="last name"
                                [(ngModel)]="valLastName1" [ngStyle]="{'border':borderLastName1}"
                                (input)="fnInputLastName1()" (blur)="fnBlurLastName1()">
                            <label for="idLastName1">Last Name</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="idPhone1" placeholder="phone" fxFlex="100"
                             [(ngModel)]="valPhone1" [ngStyle]="{'border':borderPhone1}" (input)="fnInputPhone1()" (blur)="fnBlurPhone1()">
                        <label class="classMarginLeft" for="idPhone1">Phone</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="idDivBillingAddress">
            <div class="classHeader">
                <i class="{{classBillingAddress}}" aria-hidden="true"></i>&nbsp;
                <span class="classSizeFont"><b>{{billingAddress}}</b></span>
            </div>
            <div *ngFor="let i of arrayAddresses; let k = index;" class="classPadding">
                <div class="form-check">
                    <input class="form-check-input classMarginRight" type="radio" name="optionAddress"
                        value="{{k}}" id="idOptionsAddress_{{k}}" (click)="fnClickBillingAddress(k)"
                        [checked]="i.status">
                    <label id="idLabelOptionsAddress" fxFlex="55" fxFlex.xs="100" class="form-check-label"
                        for="idOptionsAddress_{{k}}">
                        &nbsp;{{i.billingAddress}}</label>
                </div>
            </div>
            <div id="idDivDifferentAddress" class="classDisplayNone">
                <div class="form-floating classWidth95">
                    <input type="text" class="form-control" id="idDifferentAddress" placeholder="address"
                    [(ngModel)]="valDifferentAddress" style="margin-bottom:1rem;">
                    <label for="idDifferentAddress">Address</label>
                </div>
            </div>

        </div>
        <div id="idDivPayment">
            <div class="classHeader">
                <i class="{{classPayment}}" aria-hidden="true"></i>&nbsp;
                <span class="classSizeFont"><b>{{payment}}</b></span>
            </div>
            <div *ngFor="let i of arrayPayment; let k = index;" class="classPadding">
                <div class="form-check">
                    <input class="form-check-input classMarginRight" type="radio" name="payment"
                        value="{{k}}" id="idOptionPayment_{{k}}" [checked]="i.status">
                    <label fxFlex="55" fxFlex.xs="100" class="form-check-label" for="idOptionPayment_{{k}}">
                        &nbsp;{{i.paymentType}}</label>
                </div>
            </div>
            <div>
                <img id="idImgCards" src="{{imageCards}}">
            </div>
        </div>
        <div id="idDivSummary">
            <div class="classHeader">
                <i class="{{classSummaryOrder}}" aria-hidden="true"></i>&nbsp;
                <span class="classSizeFont"><b>{{summaryOrder}}</b></span>
            </div>
            <div *ngFor="let i of arrayStoreProducts; let k = index;" class="classPadding">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="classAlignLeft" fxFlex="80">
                        <span class="classMargin0 fontSizePh">{{k+1}}. {{i.product_name}}</span>
                    </div>
                    <div class="classTextAlign" fxFlex="20">
                        <span class="classMargin0 fontSizePh">
                            Price: {{fnFinalPriceWithDiscount(fnMetodaPret(i.product_price,i.product_amount),
                            fnPriceWithDiscount(fnMetodaPret(i.product_price,i.product_amount),
                            fnDiscountExtra(i.product_discount))) }}</span>
                    </div>
                </div>
            </div>
            <div fxLayout="column">
                <hr class="classMarginRight" id="idHr">
                <p id="idParagraf" class="classTextAlign classMarginRight">Total: {{totalPrice}} lei</p>
            </div>
        </div>

        <div fxLayoutAlign="end center" class="mt-3">
            <button type="button" class="btn btn-dark classWidthButtons" id="idButtonSendOrder" 
            (click)="fnSendOrder()">Send order</button>
            <button type="button" class="btn btn-dark classWidthButtons" id="idButton"
                (click)="fnCancelOrder()">Cancel order</button>
        </div>
    </div>
</div>
<div id="finalMessage" class="modal">
    <div class="modal-content3" fxLayout="column">
        <span id="idFinalSpan"></span>
        <button type="button" id="idButtonBackFinal" (click)="fnFinalBack()" class="btn btn-dark">Back</button>
    </div>
</div>
