:host
{
  --color1:rgb(108, 162, 231);
  --color2:rgb(214, 176, 7);
  --color3:rgb(12, 163, 12);
  --color4:red;
  --color5:white;
}

#idMainDiv
{
  background: linear-gradient(to bottom,rgb(196, 195, 191), white );
  height:100vh;
  overflow: auto;
}

#idDivMenu
{
  text-align:left; 
  padding:1rem; 
  padding-bottom:1rem; 
  background:linear-gradient(to bottom, gray, white); 
  margin-bottom:1rem;
}

.classCursor
{
  cursor:pointer;
}

.classFirstButtons
{
  width:15%; 
  margin-left:1rem;
}

#idPAlert
{
  text-align: center; 
  padding:1rem; 
  color:white; 
  margin:0.5rem;
  border-radius: 0.5rem;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(196, 195, 191);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .classWidth
  {
    width:90%; 
    margin-left: auto; 
    margin-right: auto;
    font-size: 15px;
  }

  .classAlign
  {
    text-align: center;
    padding:0.5rem;
    font-variant: small-caps; 
  }

  #idNotPlanned
  {
    border-top: 4px solid var(--color1);
    border-bottom: 4px solid var(--color1);
    background-color: rgb(160, 180, 206);
  }
  
  #idToBeDone
  {
    border-top: 4px solid var(--color4);
    border-bottom: 4px solid var(--color4);
    background-color: rgb(190, 134, 134);
  }

  #idInProgress
  {
    border-top: 4px solid var(--color2);
    border-bottom: 4px solid var(--color2);
    background-color: rgb(223, 206, 132);
  }

  #idDone
  {
    border-top: 4px solid var(--color3);
    border-bottom: 4px solid var(--color3);
    background-color: rgb(119, 180, 119);
  }

  .classBorder
  {
    border-right:2px dotted black;
    height: auto;
  }

  .classBorderLeft
  {
    border-left:2px dotted black;
    height:auto;
  }

  .classHover:hover
  {
    transform: translateY(-2px);
  }

  .classButton
  {
    transform: translateX(750%);
    transition: 0.5s;
  }

  .classButton1
  {
    transform: translateY(10%);
    transition: 0.5s;
    padding-top:1px;
  }

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color:rgb(196, 195, 191);
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
  height:65%;
  overflow: auto;
}

.modal1, .modal2, .modal3, .modal4 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content1, .modal-content2, .modal-content3, .modal-content4 {
  background-color:rgb(255, 255, 255);
  margin: 8% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 30%; 
}

.modal5 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content5 {
  background-color:white;
  margin: 4% auto; 
  padding: 25px;
  border: 1px solid #888;
  width: 45%; 
  height:80%;
  overflow: auto; 
}

[data-title]:hover:after {
  opacity: 2;
  transition: all 0.5s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  color: black;
  font-size: 0.7rem;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -15px;
  border-radius: 0.5rem;
  background-color: white;
  left: -20%;
  white-space: nowrap;
  box-shadow: 2px 2px 4px #222222;
  opacity: 0;
  border: 1px solid #111111;
  font-weight: 700;
  z-index: 1;
}

[data-title] {
  position: relative;
}

.modal6 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content6 {
  background-color:rgb(255, 255, 255);
  margin: 8% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 30%; 
}

#idDivAllTasks
{
  width:95%; 
  margin-left: auto; 
  margin-right: auto; 
  border-bottom:1px solid black; 
  background-color: white; 
  overflow: auto; 
  margin-bottom:1rem;
}

#idDivTaskNotPlanned
{
  border:1px solid black; 
  border-radius: 0.5rem;
  margin:0.5rem; 
  background-color:rgb(243, 231, 211); 
  border-left:5px solid rgb(108, 162, 231);
}

#idDivTaskToBeDone
{
  border:1px solid black; 
  border-radius: 0.5rem;
  margin:0.5rem; 
  background-color:rgb(243, 231, 211); 
  border-left:5px solid red;
}

#idTaskInProgress
{
  border:1px solid black; 
  border-radius: 0.5rem;
  margin:0.5rem; 
  background-color:rgb(243, 231, 211); 
  border-left:5px solid rgb(214, 176, 7);
}

.classLabels
{
  width:100%; 
  font-weight: 600;
}

.classWidth100
{
  width:100%;
}

#idParagraphComments
{
  border:1px solid rgb(138, 135, 135);
  border-radius: 0.5rem; 
  margin-top:0.2rem; 
  padding:0.5rem;
}

.classWidth45
{
  width:45%;
}

.classColorWhite
{
  color:white;
}

.classPadding05
{
  padding:0.5rem;
}

.classMinHeight
{
  min-height: 10rem;
}

.classStyleLabels
{
  margin-right:1rem; width:8rem;
}

.classButtonsCancelClose
{
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top:1rem;
  width:10rem;
}

.classTextDecoration
{
  text-decoration: underline;
}

#idDivTaskModel
{
  width: 70%; 
  margin-left: auto; 
  margin-right: auto;
  border:1px solid black; 
  border-radius: 0.5rem; 
  margin-bottom:1rem; 
  background-color:rgb(213, 235, 232); 
  border-left:5px solid black;            
}

.classMarginLeft1Rem
{
  margin-left:1rem;
}

.classPAdding03
{
  padding: 0.3rem;
}

.classDeleteAndArchive
{
  text-align: left; 
  padding: 0.5rem; 
  margin-left:1rem;
}

.classWidth4Rem
{
  width: 4rem;
}

.classPExplanations
{
  text-align: left; 
  padding: 0.5rem; 
  margin-left:1rem;
}

#idButtonNewTask
{
  width:15%;
}

#idButtonAddPerson
{
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  width:35%;
}

@media screen and (max-width:767px)
{
  .fontSizeText
  {
    font-size: 0.8rem;
  }

  .classFirstButtons
  {
    width:25%;
    font-size: 0.8rem;
  }

  #idButtonNewTask
  {
    width:35%;
  }

  .modal-content5 {
    width: 90%; 
  }

  #idDivTaskModel
  {
    width: 80%;           
  }

  .modal-content {
    width: 70%; 
  }

  #idButtonAddPerson
  {
    width:65%;
  }

  .modal-content1, .modal-content2, .modal-content3, .modal-content4 {
    width: 85%; 
  }
}

@media screen and (min-width:768px)
{
  .classFirstButtons
  {
    width:18%;
  }

  #idButtonNewTask
  {
    width:18%;
  }

  .modal-content5 {
    width: 60%; 
  }
  
  #idButtonAddPerson
  {
    width:50%;
  }

  .modal-content1, .modal-content2, .modal-content3, .modal-content4 {
    width: 50%; 
  }
}

@media screen and (min-width:998px)
{
  .classFirstButtons
  {
    width:15%;
  }

  #idButtonNewTask
  {
    width:15%;
  }

  .modal-content5 {
    width: 50%; 
  }

  .modal-content1, .modal-content2, .modal-content3, .modal-content4 {
    width: 40%; 
  }
}

@media screen and (min-width:1200px)
{
  .classFirstButtons
  {
    width:15%;
  }

  #idButtonNewTask
  {
    width:15%;
  }

  .modal-content5 {
    width: 45%; 
  }

  .modal-content1, .modal-content2, .modal-content3, .modal-content4 {
    width: 35%; 
  }
}
 
