<div id="idMainDiv">
    <h1 id="idTitle">TIMER</h1>
    <div class="container" style="margin-bottom:30px;">
        <div id="idDivProgress" class="progress">
            <div id="idProgress" class="progress-bar progress-bar-striped bg-success" role="progressbar" 
            style="width:0%">
            </div>
        </div>
    </div>
    <div id="idDivTimer">
        <div class="classFlex">
            <div class="classDivsHMS">
                <span class="classFontHour">{{spanHours}}</span>
            </div>
            <div><span class="classFontHour"> : </span>
            </div>
            <div class="classDivsHMS">
                <span class="classFontHour">{{spanMinutes}}</span>
            </div>
            <div><span class="classFontHour"> : </span></div>
            <div class="classDivsHMS">
                <span class="classFontHour">{{spanSeconds}}</span>
            </div>
        </div>
    </div>
    <br>
    <div id="idDivButtons">
        <div>
            <button type="button" id="idButtonStop" class="classWidthButtons classMargins classButtons" (click)="fnStop()">
                <span class="fa fa-stop fa-lg" aria-hidden="true"></span>
            </button>
        </div>
        <div>
            <button type="button" class="classWidthButtons classMargins classButtons" (click)="fnPlay()">
                <i class="fa fa-play fa-lg" aria-hidden="true"></i>
            </button>
        </div>
        <div>
            <button type="button" class="classWidthButtons classMargins classButtons" (click)="fnPause()">
                <i id="idButtonPause" class="fa fa-pause fa-lg" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div>
        <button id="idButtonBack" type="button" class="btn" routerLink="/mainComponent">
            <i class="fa fa-hand-o-left" aria-hidden="true"></i> Back</button>
    </div>
</div>