#idMainDiv
{
    width:40%; 
    margin-top:20px;
    background-color: rgb(197, 191, 191);
    margin-left:auto;
    margin-right:auto;
    height:auto;
    padding-top:20px;
    padding-bottom:20px;
    box-shadow: 8px 8px 8px black;
}

#idTitle
{
    font-family: Helvetica;
    text-align: center;
    font-weight: 700;
    margin-bottom:60px;
    margin-top:30px;
}

#idDivTimer
{
    display: flex; 
    flex-direction: row; 
    justify-content:space-around; 
    margin-bottom:40px;
}

#idDivButtons
{
    display: flex; 
    flex-direction: row; 
    justify-content:space-around; 
    margin-bottom:20px;
}

.classWidthButtons
{
    width:150px;
}

.classFontHour
{
    font-size: 5rem;
    font-weight: 700;
}

.classButtons
{
    height:80px;
    width:80px;
    border-radius: 80px;
    border: none;
    background-color: black;
    color:white;
}

.classDivsHMS
{
    background-color: white;
    margin-left: 10px; 
    margin-right: 10px; 
    padding-left: 10px;
    padding-right: 10px;
}

.classFlex
{
    display: flex; 
    flex-direction: row;
}

#idButtonBack
{
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: black;
    color: white;
}

#idDivProgress
{
    width:60%; 
    margin-left:auto; 
    margin-right:auto;
}


@media screen and (max-width:767px) 
{
    #idMainDiv
    {
        width:95%;       
    }

    #idDivButtons
    {
        flex-direction: row; 
        text-align: center;
    }

    .classMargins
    {
        margin-bottom:20px;
    }

    .classButtons
    {
        height:70px;
        width:70px;
    }

    .classFontHour
    {
        font-size: 3.5rem;
        font-weight: 700;
    }
}

@media screen and (min-width:767px) 
{
    #idMainDiv
    {
        width:55%; 
    }

    #idDivButtons
    {
        flex-direction: row; 
        text-align: center;
    }

    .classMargins
    {
        margin-bottom:20px;
    }

    .classFontHour
    {
        font-size: 4rem;
        font-weight: 700;
    }
}

@media screen and (min-width:992px) 
{
    #idMainDiv
    {
        width:55%; 
    }

    #idDivButtons
    {
        flex-direction: row; 
    }

    .classMargins
    {
        margin-bottom:20px;
    }

    .classWidthButtons
    {
        width:130px;
    }
}

@media screen and (min-width:1200) 
{
    #idMainDiv
    {
        width:45%; 
    }

    #idDivButtons
    {
        flex-direction: row; 
    }

    .classMargins
    {
        margin-bottom:20px;
    }
}